@import url('https://fonts.googleapis.com/css2?family=Sono:wght,MONO@200..800,1&display=swap');

* {
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}