* {
    outline: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 1rem;
    background: whitesmoke;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

kbd {
    padding: 0.1rem;
    background: white;
    border: 1px solid lightgray;
}

div#text {
    max-width: 800px;
}