* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background: #111;
    color: white;
}

body>div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

div#ring {
    align-items: center;
}

div.input {
    display: flex;
    align-items: center;
}

input {
    width: 10rem;
    margin: 0.25rem 1rem;
    padding: 0.25rem;
    color: white;
    background: #111;
    border: 1px solid dimgray;
    border-radius: 0.25rem;
}