* {
  box-sizing: border-box;
  border-collapse: collapse;
  outline: none;
}

body {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  font-family: sans-serif;
  background: black;
  color: white;
}

#game {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #4d4d4d;
}

.incorrect {
  color: #808080;
}

.close {
  color: #dede10;
}

.correct {
  color: #10d010;
}

#marin-map {
  width: 100%;
  margin: 0.25rem 0;
}

#marin-map svg {
  width: 100%;
  height: auto;
}

#buttons {
  border: 1px solid #4d4d4d;
  height: 100%;
  overflow: auto;
  width: max-content;
  margin-left: 0.25rem;
}

#intro {
  position: absolute;
  background: black;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #4d4d4d;
}

div.button {
  margin: 0.5rem;
  padding: 0.25rem;
  text-align: center;
  border-radius: 0.25rem;
  background: #f2f2f2;
  color: black;
  cursor: pointer;
}

div#footer {
  color: #cdcdcd;
  text-align: center;
}

a,
a:link,
a:visited {
  color: #f2f2f2;
}

a:hover {
  color: #cdcdcd;
}

a:active {
  color: #cdefab;
}