* {
    box-sizing: border-box;
    border-collapse: collapse;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0 1rem;
}

div#game {
    text-align: center;
}

div#game-info {
    background: lightblue;
    margin: 1rem;
    padding: 1rem;
}

button#close-info {
    float: right;
    cursor: pointer;
}

a,
a:link,
a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: red;
}